a{
    color:gray;
    font-size:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
     text-decoration: none;
     position: relative;
     left: 10px;
}
.head_a{
    position: relative;
    font-size:25px;
    left: 0px;
}
details{
    position: relative;
    list-style: none;
}
summary{
    position: relative; 
    left: 10px;
}
li{
    background-color: rgb(210, 210, 210);
    border: 1px solid rgb(200, 200, 200);
}
h3{
    position: relative;
    left: 10px;
    font-size: 25px;
}